Practice files/31 dec/web service with same solution/WebServiceClient/Connected Services/ServiceReference1/Webinfinitesevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="greeting">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="greetingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="greetingResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="squarroot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="f" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="squarrootResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="squarrootResult" type="s:float" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="greetingSoapIn">
    <wsdl:part name="parameters" element="tns:greeting" />
  </wsdl:message>
  <wsdl:message name="greetingSoapOut">
    <wsdl:part name="parameters" element="tns:greetingResponse" />
  </wsdl:message>
  <wsdl:message name="squarrootSoapIn">
    <wsdl:part name="parameters" element="tns:squarroot" />
  </wsdl:message>
  <wsdl:message name="squarrootSoapOut">
    <wsdl:part name="parameters" element="tns:squarrootResponse" />
  </wsdl:message>
  <wsdl:portType name="WebinfiniteseviceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="greeting">
      <wsdl:input message="tns:greetingSoapIn" />
      <wsdl:output message="tns:greetingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="squarroot">
      <wsdl:input message="tns:squarrootSoapIn" />
      <wsdl:output message="tns:squarrootSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebinfiniteseviceSoap" type="tns:WebinfiniteseviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="greeting">
      <soap:operation soapAction="http://tempuri.org/greeting" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="squarroot">
      <soap:operation soapAction="http://tempuri.org/squarroot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebinfiniteseviceSoap12" type="tns:WebinfiniteseviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="greeting">
      <soap12:operation soapAction="http://tempuri.org/greeting" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="squarroot">
      <soap12:operation soapAction="http://tempuri.org/squarroot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Webinfinitesevice">
    <wsdl:port name="WebinfiniteseviceSoap" binding="tns:WebinfiniteseviceSoap">
      <soap:address location="https://localhost:44334/Webinfinitesevice.asmx" />
    </wsdl:port>
    <wsdl:port name="WebinfiniteseviceSoap12" binding="tns:WebinfiniteseviceSoap12">
      <soap12:address location="https://localhost:44334/Webinfinitesevice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>